<div class="root">
    <div class="navbar has-background-dark">
        <div class="navbar-brand">
            <div class="navbar-item">
                <h1 class="app-name has-gradient-text">
                    Kanban
                </h1>
            </div>
        </div>
    </div>

    <div class="board">
        <div class="board-bar">
            <p class="board-name">Board Name</p>
        </div>

        <div class="board-wrapper">
            <div class="board-columns" cdkDropListGroup>
                <div class="board-column" >
                    <div class="column-title">
                        Ideas
                    </div>
                    <div class="tasks-container"
                    cdkDropList [cdkDropListData]="ideas"
                    (cdkDropListDropped)="drop($event)">
                        <div class="task" *ngFor="let item of ideas" cdkDrag>
                            {{item}}
                        </div>
                    </div>
                </div>
                <div class="board-column">
                    <div class="column-title">
                        Research
                    </div>
                    <div class="tasks-container"
                    cdkDropList [cdkDropListData]="research"
                    (cdkDropListDropped)="drop($event)">
                        <div class="task" *ngFor="let item of research" cdkDrag>
                            {{item}}
                        </div>
                    </div>
                </div>
                <div class="board-column">
                    <div class="column-title">
                        Todo
                    </div>
                    <div class="tasks-container"
                    cdkDropList [cdkDropListData]="todo"
                    (cdkDropListDropped)="drop($event)">
                        <div class="task" *ngFor="let item of todo" cdkDrag>
                            {{item}}
                        </div>
                    </div>
                </div>
                <div class="board-column">
                    <div class="column-title">
                        Done
                    </div>
                    <div class="tasks-container"
                    cdkDropList [cdkDropListData]="todo"
                    (cdkDropListDropped)="drop($event)">
                        <div class="task" *ngFor="let item of todo" cdkDrag>
                            {{item}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>